*, *::before, *::after {
  box-sizing: border-box;
}

/* Fonts */
.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.karla.normal {
  font-weight: 400;
}

/* Base styling */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 300;
}

/* All buttons */
button {
  padding: 0.4rem;

  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  text-shadow: 1px 1px 4px rgb(0 0 0 / 0.5);

  color: white;
  border: none;
  border-radius: 3px;

  cursor: pointer;
}
button:active {
  transform: scale(1.1);
}
button.player-add {
  background-color: rgb(4, 173, 4);
}
button.reset {
  background-color: rgb(173, 28, 28);
}
button.point-up {
  width: 3rem;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: blue;
  box-shadow: 1px 2px 5px rgb(25 25 25 / 0.5);
}
button.point-down {
  width: 3rem;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: red;
  box-shadow: 1px 2px 5px rgb(25 25 25 / 0.5);
}

/* Primary content wrapper */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Individual player controls */
section {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

input {
  width: 100%;
  padding-top: 4px;
  padding-left: 3px;
  padding-bottom: 4px;
  margin-bottom: 1rem;

  font-family: inherit;
  font-size: 1.25rem;
  border: 1px solid gray;
  border-radius: 3px;

  /* TODO: Maybe this helps fix the random zooming? Test it out */
  /* pointer-events: none; */
}

section .controls {
  text-align: center;
  width: 100%;
}

.points {
  width: 3rem;
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 2rem;
  vertical-align: bottom;
  font-variant-numeric: tabular-nums;
}
